@inherits Fantasy.Web.Mvc.Html.BusinessPropertyEditorBase
@{
    this.Html.HtmlAssets().AddStyleSheet(this.Url.ThemedContent("~/Content/themes/{0}/editors/booleaneditor.css"));
    this.Html.HtmlAssets().AddScript(this.Url.Content("~/Scripts/Mvc/Html/BooleanEditor.js"));
    
}
@if (this.PropertyDescriptor.CanRead)
{
    <span @WriteAttributes() data-bind="visibility:acl.@this.PropertyDescriptor.CodeName">
    
    <input type="checkbox" name="@this.FullHtmlFieldName" id="@this.FullHtmlFieldId" data-bind="checked:@this.PropertyDescriptor.CodeName,enable: @string.Format("acl.{0}() == 'editable'", this.PropertyDescriptor.CodeName)"  />
    @if (this.ShowText)
    {
        <label for="@this.FullHtmlFieldId" data-bind="text: @string.Format("{0}() === true ? '{1}' : {0}() === false ? '{2}' : '{3}'", this.PropertyDescriptor.CodeName, this.TrueText, this.FalseText, this.NullText)" ></label>
    }
    </span>
}

