@inherits Fantasy.Web.Mvc.Html.BusinessPropertyEditorBase
@{
   
}

@if(this.PropertyDescriptor.CanRead || this.Model.Accessbility != Fantasy.Web.Accessbility.Collapsed)
{

<span @WriteAttributes() data-bind="visible:@string.Format("acl.{0}() != 'collpased'", this.PropertyDescriptor.CodeName)">
    @if (this.PropertyDescriptor.CanWrite)
    {
        <select name="@this.FullHtmlFieldName" data-bind="value : @this.PropertyDescriptor.CodeName,visible: @string.Format("acl.{0}() == 'editable'", this.PropertyDescriptor.CodeName)"  />
    } 
    @if (this.PropertyDescriptor.CanRead)
    {
        
         <span data-bind="text : @this.PropertyDescriptor.CodeName, visible:@string.Format("acl.{0}() == 'visible'", this.PropertyDescriptor.CodeName)" ></span>
    }
    
</span> 
}
