@{
    string[] knockout = new string[] {"~/Scripts/knockoutjs/namespace.js",
    "~/Scripts/knockoutjs/google-closure-compiler-utils.js",
    "~/Scripts/knockoutjs/version.js",
    "~/Scripts/knockoutjs/utils.js",
    "~/Scripts/knockoutjs/utils.domData.js",
    "~/Scripts/knockoutjs/utils.domNodeDisposal.js",
    "~/Scripts/knockoutjs/utils.domManipulation.js",
    "~/Scripts/knockoutjs/memoization.js",
    "~/Scripts/knockoutjs/subscribables/extenders.js",
    "~/Scripts/knockoutjs/subscribables/subscribable.js",
    "~/Scripts/knockoutjs/subscribables/dependencyDetection.js",
    "~/Scripts/knockoutjs/subscribables/observable.js",
    "~/Scripts/knockoutjs/subscribables/observableArray.js",
    "~/Scripts/knockoutjs/subscribables/dependentObservable.js",
    "~/Scripts/knockoutjs/subscribables/mappingHelpers.js",
    "~/Scripts/knockoutjs/binding/selectExtensions.js",
    "~/Scripts/knockoutjs/binding/jsonExpressionRewriting.js",
    "~/Scripts/knockoutjs/virtualElements.js",
    "~/Scripts/knockoutjs/binding/bindingProvider.js",
    "~/Scripts/knockoutjs/binding/bindingAttributeSyntax.js",
    "~/Scripts/knockoutjs/binding/defaultBindings.js",
    "~/Scripts/knockoutjs/templating/templateEngine.js",
    "~/Scripts/knockoutjs/templating/templateRewriting.js",
    "~/Scripts/knockoutjs/templating/templateSources.js",
    "~/Scripts/knockoutjs/templating/templating.js",
    "~/Scripts/knockoutjs/binding/editDetection/compareArrays.js",
    "~/Scripts/knockoutjs/binding/editDetection/arrayToDomNodeChildren.js",
    "~/Scripts/knockoutjs/templating/native/nativeTemplateEngine.js",
    "~/Scripts/knockoutjs/templating/jquery.tmpl/jqueryTmplTemplateEngine.js",
    };
}
<!DOCTYPE html> 

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Fantasy Management System</title>
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.ThemedContent("~/Content/themes/{0}/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
         <link href="@Url.ThemedContent("~/Content/themes/{0}/messagebox/style.css")" rel="stylesheet" type="text/css" />
        @Html.HtmlAssets().RenderStyleSheets()
        <script type="text/javascript">
            var DEBUG = false;
        </script>
        <script src="@Url.Content("~/Scripts/jquery-1.7.2.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-ui-1.8.19.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/modernizr-2.0.6-development-only.js")" type="text/javascript"></script>
        @*<script src="@Url.Content("~/Scripts/knockout-2.1.0.js")" type="text/javascript"></script>*@
        @foreach (string src in knockout)
        {
            <script src="@Url.Content(src)" type="text/javascript"></script>
        }
        <script src="@Url.Content("~/Scripts/fantasy/knockoutjs.visibility.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/fantasy/core.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/fantasy/messagebox.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/fantasy/jquery.unobtrusive-ajax.fantasy.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/fantasy/businessengine.js")" type="text/javascript"></script>
        @Html.HtmlAssets().RenderScripts()
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <header >
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Fantasy Enterprise Management System", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LogOnPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Fantasy Pty Ltd</p>
                </div>
                <div class="float-right">
                    <ul id="social">
                        <li><a href="http://facebook.com" class="facebook">Facebook</a></li>
                        <li><a href="http://twitter.com" class="twitter">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>
