@inherits Fantasy.Web.Mvc.Html.BusinessPropertyEditorBase
@{
    this.Html.HtmlAssets().AddScript(this.Url.Content("~/Scripts/Mvc/Html/BooleanEditor.js"));
}
@if (this.PropertyDescriptor.CanWrite)
{
<input @WriteAttributes() data-truetext="@(this.TrueText)" data-falsetext="@(this.FalseText)" /><label for="@this.Attributes["id"]">@(this.Value ? this.TrueText : this.FalseText)</label>
}
@if(this.PropertyDescriptor.CanRead)
{
    <input @WriteAttributes() disabled="disabled" /><label for="@GenerateId()">@(this.Value ? this.TrueText : this.FalseText)</label>
}
else if (this.Model.Accessbility == Fantasy.Web.Accessbility.Hidden)
{
    this.RenderHidden();
} 
else
{
    this.RenderCollapsed();
}
