@inherits Fantasy.Web.Mvc.Html.BusinessPropertyEditorBase
@{
    this.Html.HtmlAssets().AddScript(this.Url.Content("~/Scripts/Mvc/Html/BooleanEditor.js"));
}
@if (this.PropertyDescriptor.CanRead)
{
    <input @WriteAttributes() type="checkbox" name="@this.FullHtmlFieldName" id="@this.FullHtmlFieldId" data-bind="checked:@this.PropertyDescriptor.CodeName,enable: @string.Format("acl.{0}() == 'editable'", this.PropertyDescriptor.CodeName), visible: @String.Format("(acl.{0}() == 'visible' || acl.{0}() == 'editable')", this.PropertyDescriptor.CodeName)"  />
    if (this.ShowText)
    {
        <label for="@this.FullHtmlFieldId" data-bind="text: @string.Format("{0}() === true ? '{1}' : {0}() === false ? '{2}' : '{3}'", this.PropertyDescriptor.CodeName, this.TrueText, this.FalseText, this.NullText), visible: @String.Format("(acl.{0}() == 'visible' || acl.{0}() == 'editable')", this.PropertyDescriptor.CodeName)" ></label>
    }
}

