@inherits Fantasy.Web.Mvc.Html.BusinessPropertyEditorBase
@{
 
    this.Html.HtmlAssets().AddScript(this.Url.Content("~/Scripts/fantasy/knockout.flags-enum.js"));
    string containerId = this.FullHtmlFieldId + "container";
    
    this.Html.HtmlAssets().AddStartupScript(String.Format("$('#{0}').be().renew({1});", containerId, this.CreateEntityExtension())); 
   
}

@if(this.PropertyDescriptor.CanRead || this.Model.Accessbility != Fantasy.Web.Accessbility.Collapsed)
{

<span id="@containerId" >
    @if (this.PropertyDescriptor.CanWrite)
    {
        <select multiple="multiple" @this.WriteAttributes() name="@this.FullHtmlFieldName" data-bind="flagsEnum: @this.PropertyDescriptor.CodeName, options: @string.Format("{0}$Options",this.PropertyDescriptor.CodeName),
            visible: @string.Format("acl.{0}() == 'editable'", this.PropertyDescriptor.CodeName), optionsText: 'Text', optionsValue: 'Value'
            @if(this.OptionsCaption != null)
            {
                this.Write(string.Format(",optionsCaption: '{0}'", this.OptionsCaption)); 
            }"  />
    } 
    @if (this.PropertyDescriptor.CanRead)
    {
        
         <span @this.WriteAttributes() data-bind="text : @String.Format("{0}$Display", this.PropertyDescriptor.CodeName), visible:@string.Format("acl.{0}() == 'visible'", this.PropertyDescriptor.CodeName)" ></span>
    }
    
</span> 
}
