@inherits Fantasy.Web.Mvc.Html.BusinessPropertyEditorBase
@{
    this.Html.HtmlAssets().AddStyleSheet(this.Url.ThemedContent("~/Content/themes/{0}/textarea/style.css"));
    //this.Html.HtmlAssets().AddScript(this.Url.Content("~/Scripts/Mvc/Html/textarea.js"));
}

@if(this.PropertyDescriptor.CanRead || this.Model.Accessbility != Fantasy.Web.Accessbility.Collapsed)
{


    if (this.PropertyDescriptor.CanWrite)
    {
        <textarea @WriteAttributes() type="text" name="@this.FullHtmlFieldName" data-bind="value : @this.PropertyDescriptor.CodeName,visible: @string.Format("acl.{0}() == 'editable'", this.PropertyDescriptor.CodeName)" ></textarea>
    } 
    if(this.PropertyDescriptor.CanRead)
    {
         <span @WriteAttributes() data-bind="text : @this.PropertyDescriptor.CodeName, visible:@string.Format("acl.{0}() == 'visible'", this.PropertyDescriptor.CodeName)" ></span>
    }
}
